body{
    font-family: 'Poppins', "Comic Sans MS", sans-serif;
    background: linear-gradient(to right, #333399, #4b7535);
    
}

.link-button{
    padding: 0.3em 0.4em;
    border: 0.5px solid #767676;
    border-radius: 0.15em;
    background-color: #e7e7e7;
    color: #333399;
    font-size: 0.84rem;
    text-decoration: none;
    cursor: pointer;
}

.link-button:hover{
    background-color: #e6e6e6;
    
}

.header-image {
    width: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.blog-section {
    background: linear-gradient(to right, #333399, #4b7535);
    margin: 10px;
    padding: 20px;
}

.blog-container {
    background: linear-gradient(to right, #993372fd, #703575);
    padding: 0.5px;
    color: #ffffff; 
}

.text-container {
    background-color: #dedede6c;
    padding: 8px;
    color: #484846;
    font-weight: 600;
}

.headline {
    color: #0c0303;
    flex: 1;
}

.image-container {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    padding: 20%;
}

.standart-container {
    background-color: rgba(255, 255, 255, 0.082);
    padding: 16px;
}



.maps-right {
    width:70%;
    margin-left: 15px;
}

.maps-container {
    margin-top: 15px;
    display: flex;
}


.text-highlight {
    color: #b3b30ebb;
    font-size: 22px;
}

.checkInformations {
    height:50px;
    width:200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #180504;
    text-decoration: none;
    margin-left: 16px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #33060670;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd48;
  }
